Note: 
(1) Try mutual information/pearson correlation/PCA and check the result
(2) Try how the amount of selected feature will influecne the result

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
# Load the training and test datasets
train = pd.read_csv("C:\\Users\\micha\\OneDrive\\桌面\\Machine Learning\\HW1\\data\\covid.train.csv")
test = pd.read_csv("C:\\Users\\micha\\OneDrive\\桌面\\Machine Learning\\HW1\\data\\covid.test.csv")

display(train.iloc[:,1:].round(2))

,AL,AK,AZ,AR,CA,CO,CT,FL,GA,ID,...,work_outside_home.4,shop.4,restaurant.4,spent_time.4,large_event.4,public_transit.4,anxious.4,depressed.4,worried_finances.4,tested_positive.4
0,0,0,0,0,0,0,0,1,0,0,...,31.11,67.39,36.67,40.74,17.84,4.09,10.44,8.63,37.33,7.46
1,0,0,0,0,0,1,0,0,0,0,...,33.92,64.40,34.61,44.04,17.81,4.92,10.17,9.95,32.51,8.01
2,0,0,0,0,0,0,0,0,0,0,...,31.60,62.10,26.52,36.75,13.90,7.31,10.39,7.96,36.75,2.91
3,0,0,0,0,0,0,0,0,0,0,...,35.12,67.94,38.02,48.43,27.13,3.10,10.50,8.23,38.68,12.58
4,0,0,0,0,0,0,0,0,0,1,...,35.13,69.93,38.24,49.10,22.68,4.59,9.88,9.47,28.34,21.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2694,0,0,0,0,0,0,0,0,0,0,...,39.21,65.82,37.05,46.78,21.95,2.72,14.66,11.10,33.15,13.44
2695,0,0,0,0,0,0,0,0,0,0,...,28.98,66.13,31.30,40.40,16.78,14.06,13.13,10.49,36.67,5.04
2696,0,0,0,1,0,0,0,0,0,0,...,34.35,63.46,30.83,41.83,20.60,2.39,16.94,12.89,42.45,13.62
2697,0,0,0,0,0,0,0,0,0,0,...,30.45,67.48,33.98,45.84,18.44,3.09,12.62,10.10,29.67,9.51
2698,0,0,0,0,0,0,0,0,0,0,...,33.80,66.37,38.49,41.29,19.23,5.33,13.16,9.62,37.74,11.07

In [3]:
train.iloc[:,1:].describe().round(2)

,AL,AK,AZ,AR,CA,CO,CT,FL,GA,ID,...,work_outside_home.4,shop.4,restaurant.4,spent_time.4,large_event.4,public_transit.4,anxious.4,depressed.4,worried_finances.4,tested_positive.4
count,2699.00,2699.00,2699.00,2699.00,2699.00,2699.00,2699.00,2699.00,2699.00,2699.00,...,2699.00,2699.00,2699.00,2699.00,2699.00,2699.00,2699.00,2699.00,2699.00,2699.00
mean,0.03,0.02,0.03,0.03,0.03,0.02,0.03,0.02,0.02,0.02,...,33.02,66.47,34.83,44.85,20.02,4.69,11.96,9.99,34.83,9.82
std,0.18,0.15,0.17,0.17,0.18,0.15,0.16,0.15,0.16,0.15,...,3.83,2.45,4.07,3.66,3.48,2.13,2.27,1.60,3.61,6.43
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,24.56,58.79,22.23,35.25,9.81,1.47,7.35,6.18,24.59,0.34
25%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,30.23,64.88,32.16,42.35,17.48,3.38,10.29,8.80,32.36,4.93
50%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,32.77,66.70,35.06,45.19,20.43,4.29,11.38,9.76,34.26,7.67
75%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,35.62,68.24,37.89,47.61,22.52,5.36,13.21,11.02,37.04,13.84
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,44.57,72.61,44.31,53.71,31.29,15.68,19.62,15.68,45.52,30.30

In [4]:
na_counts = train.isna().sum()
features_with_na = na_counts[na_counts > 0].index.tolist()

print("Features with missing values:")
if features_with_na:
    for feature in features_with_na:
        print(feature)
else:
        print("No missing value")

Features with missing values:
No missing value

In [5]:
from sklearn.feature_selection import mutual_info_regression as mir 
features = train.drop(columns='tested_positive.4')
top_features = pd.DataFrame(mir(features, train['tested_positive.4']), index = features.columns).sort_values(by=0, ascending = False)
top_features = top_features.rename(columns={0: 'mutual_info'})
display(top_features)

                   mutual_info
tested_positive.3     1.650463
tested_positive.2     1.322802
tested_positive.1     1.101268
tested_positive       0.919317
hh_cmnty_cli.4        0.903106
...                        ...
NM                    0.009633
MO                    0.008938
KY                    0.008276
CO                    0.008179
LA                    0.002168

[117 rows x 1 columns]

In [6]:
selected_features = top_features[:14]
display(train[selected_features.index])

,tested_positive.3,tested_positive.2,tested_positive.1,tested_positive,hh_cmnty_cli.4,hh_cmnty_cli.2,nohh_cmnty_cli.3,hh_cmnty_cli.1,nohh_cmnty_cli.4,nohh_cmnty_cli.2,nohh_cmnty_cli,hh_cmnty_cli.3,nohh_cmnty_cli.1,hh_cmnty_cli
0,7.452243,7.077938,7.219989,7.374846,12.364307,12.487637,8.006131,12.488933,8.151578,8.135510,8.556230,12.367718,8.219380,12.939284
1,8.707858,10.388084,10.050547,9.850027,12.894363,14.568504,10.212529,15.070049,8.919288,10.578924,11.091818,14.264862,10.990937,15.008467
2,3.444182,3.132834,3.083111,3.897851,8.067909,8.493353,5.298912,8.472831,5.333533,5.125553,5.238097,8.227657,5.154184,8.614719
3,13.404256,12.146962,9.280636,10.297712,14.383789,14.010509,9.096583,12.997184,9.416096,9.008978,7.219741,14.364735,7.843776,12.007656
4,20.238111,18.650809,17.727289,24.056627,20.257355,20.160351,15.798003,20.189998,15.864201,15.672487,16.829163,20.103385,16.229791,20.957729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2694,12.962922,12.305950,11.047798,10.788842,26.355591,24.402762,21.239042,23.816931,21.616363,20.106880,19.457059,25.647724,19.707350,23.482648
2695,5.032925,5.181086,6.062231,5.801104,11.135534,11.514569,8.295961,11.519438,8.133172,8.035914,7.894431,11.500600,7.919253,11.641532
2696,14.982000,14.007148,13.859660,13.879613,27.571493,28.339583,22.261879,29.207283,21.874254,23.089998,24.115854,27.920069,23.868097,29.547019
2697,8.911676,8.423500,9.112152,8.795563,14.424899,13.922751,10.924375,13.205292,11.189104,10.847906,9.940158,14.029724,10.390792,12.735582
2698,10.336564,10.036056,12.512150,13.610812,20.299102,20.075514,16.245090,20.322668,15.828158,16.101030,16.069417,20.644870,16.312243,20.152577

In [8]:
print(selected_features.index)

Index(['tested_positive.3', 'tested_positive.2', 'tested_positive.1',
       'tested_positive', 'hh_cmnty_cli.4', 'hh_cmnty_cli.2',
       'nohh_cmnty_cli.3', 'hh_cmnty_cli.1', 'nohh_cmnty_cli.4',
       'nohh_cmnty_cli.2', 'nohh_cmnty_cli', 'hh_cmnty_cli.3',
       'nohh_cmnty_cli.1', 'hh_cmnty_cli'],
      dtype='object')